<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>C++从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>C#从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>Java从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>OC从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>Swift从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>Python从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>C语言从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>JS从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>ASP从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>Golang从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>Lua从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>XML从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>iOS从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
	<dict>
		<key>private</key>
		<true/>
		<key>introduce</key>
		<string>C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃C++从入门到放弃</string>
		<key>goodname</key>
		<string>Android从入门到放弃</string>
		<key>picture</key>
		<string></string>
	</dict>
</array>
</plist>
